/*  your css code here. If applicable */
.main-container{
                background-color:  #f5f5f5;
                height: 300px;
            }
            .container1{
                border: 1px solid;
                margin: 5px;
                padding: 20px;
                background-color: white;
            }
            .container2{
                border: 1px solid;
                margin: 5px;
                padding: 20px;
                background-color: white;
            }
            .name1{
                text-align: right;
                font-style: italic;
            }
            .name2{
                text-align: right;
                font-style: italic;
            }
